

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

table {
    /* Margin bottom by footer height */
    width: 150px;
  }

table, th, td {

    border: 0;
    border-collapse: collapse;
}
th, td {
    height: 80px;
}

.navbar-custom {
  background-color:#229922;
    color:#ffffff;
    border-radius:0;
}
  
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
  background-color:transparent;
}
      
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #33aa33;
}
      
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#33aa33;
}
.detail-header {
    height: 40px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    ustify-content: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.create-block {
    display: block;
    margin-left: 140px;
    margin-right: auto;
  }
  .printQRCode {
    display: block;
    margin-left: 140px;
    margin-right: auto;
  }
  