<form action="results" method="GET">
    <header>
        <div class="container">
            <div class="row">    
                <div class="col-lg-6 col-lg-offset-3">
                        <br><br><br><br>
                        <div class="input-group">
                            
                            <input class="form-control input" id="mainsearch" type="text" name="familynumber" placeholder="Your Number">
                            <input class="form-control input" id="mainsearch" type="text" name="movernumber" placeholder="Mover Number">
                            <br>
                            <br>
                            <br>
                            <br>
                            <button id="createProject" type="submit" class="btn btn-success">Create Project</button>
                        </div>                   
                </div>
                
            </div>

            <table style="width:100%">
                    <tr>
                      <th>QR Code</th>
                      <th>Loading Status</th> 
                      <th>Unloading Status</th>
                    </tr>
                    <tr>
                      <td>
                            <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                        </td>
                      <td></td> 
                      <td></td>
                    </tr>
                    <tr>
                      <td>
                            <img src="images/second.png" class="img-thumbnail" width="80" height="80"> 

                      </td>
                      <td></td> 
                      <td></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="images/third.png" class="img-thumbnail" width="80" height="80"> 
                        </td>
                        <td></td> 
                        <td></td>
                    </tr>
                  </table>
        </div>
        <br><br>
        
    </header>
            
</form>