<form action="results" method="GET">
    <header>
        <div class="container">
            <div class="row">    
                <div class="col-lg-6 col-lg-offset-3">
                        <br><br><br><br>
                        <div class="input-group">
                            
                            <input class="form-control input" id="mainsearch" type="text" name="familynumber" placeholder="Your Number">
                            <input class="form-control input" id="mainsearch" type="text" name="movernumber" placeholder="Mover Number">
                            <br>
                            <br>
                            <br>
                            <br>
                            <button id="createProject" type="submit" class="btn btn-success">Create Project</button>
                        </div>                   
                </div>
                
            </div>
            <br>
            <div class="create-block" id="qrcodebox" style="display: none;">
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <br>
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">   
                    <img src="images/first.png" class="img-thumbnail" width="80" height="80">
                    <br>
                    <br>
                    <button id="printButton" type="submit" class="btn btn-success" style="display: none;">Print Label</button>

            </div>
        </div>
        <br><br>
        
    </header>
            
</form>