<br><br><br>

 <!-- About Section -->
    <section class="success" id="navtabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   
                    <!-- <h3>About</h3> -->
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <hr>
                    <h4>Create</h4>
                    <p>Click on create to start a new move profile.</p>
                </div>
                    <div class="col-lg-5">
                    <hr>
                    <h4>Search</h4>
               
                    <p>Click on search to access an existing move profile.</p>
                </div>             
            </div>
        </div>
    </section>